<div *ngIf="this.check_conditions(); else elseBlock" id="chessboard">
    <div id="info-bar">
        <div class="info-bar-item">Game ID: {{ game_id }}</div>
        <div class="info-bar-item">Your color: {{ is_white ? "White" : "Black" }}</div>
        <div class="info-bar-item">Turn: {{ turn_white ? "White" : "Black" }}</div>
    </div>
    <div class="chessboard-row" *ngFor="let y of range(0, chessboard.length)">
        <div
        *ngFor="let x of range(0, chessboard[0].length)"
        [id]="'chesspiece-' + x + '-' + y"
        [style]="'background-color: ' + (x % 2 != y % 2 ? colors.black : colors.white) + ';'"
        (click)="handle_select(x, y)">
            <img *ngIf="chessboard[y][x]" [src]="chessboard[y][x]?.image">
        </div>
    </div>
    <b><p class="log" id="log"></p></b>
    <p class="log" id="connection-log"></p>
</div>

<ng-template #elseBlock>
    Invalid request. Go back to <a href="/menu">menu</a>.
</ng-template>
