#chessboard {
    display: flex;
    flex-direction: column;
}

#info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-bar-item {
    width: 10vh;
}

.chessboard-row {
    display: flex;
    flex-direction: row;
}

div[id^=chesspiece-] {
    height: 10vh;
    width: 10vh;
}

img {
    height: 100%;
    width: 100%;
}