<div id="menu">
    <div>
        <span>Color</span>
        <span *ngFor="let color of [ 'white', 'black' ]">
            <input type="radio" name="color" [id]="'color-' + color" [value]="color"
                [checked]="is_white == (color === 'white')" (input)="handle_color_change($event)">
            <label [for]="'color-' + color">{{ color }}</label>
        </span>
    </div>
    <div>
        <span>Game ID</span>
        <input type="text" value="1" (input)="handle_id_change($event)">
    </div>
    <button class="menu-button" role="button" (click)="create(game_id)" [disabled]="isNaN(game_id)">Create Game</button>
    <button class="menu-button" role="button" (click)="join(game_id)" [disabled]="isNaN(game_id)">Join Game</button>
    <p id="log">{{ log }}</p>
</div>