<div id="menu">
    <div>
        <span>Color</span>
        <input type="radio" id="color-white" name="color" value="white" checked><label for="color-white">White</label>
        <input type="radio" id="color-black" name="color" value="black"><label for="color-black">Black</label>
    </div>
    <div>
        <span>Game ID</span>
        <input id="game-id" type="text" value="1" (input)="handleIDchange()">
    </div>
    <button class="menu-button" role="button" (click)="create(get_id())">Create Game</button>
    <button class="menu-button" role="button" (click)="join(get_id())">Join Game</button>
    <p id="log"></p>
</div>